成品/new/*
带解密数据库功能的成品/*
源码/Debug/*.ilk
源码/Debug/*.pdb
源码/Debug/*.txt
源码/WeChatRobot/WeChatRobot/Debug/*
源码/WeChatRobot/WeChatRobot/x64/Debug/*
源码/WeChatRobot/x64/Debug/*
源码/WeChatRobot/Debug/*
源码/WeChatRobot/.vs/WeChatRobot/v15/*
源码/WeChatRobot/WeChatRobot/WeChatRobot.aps
源码/WeChatHelper/.vs/WeChatHelper/v15/*
源码/WeChatHelper/Debug/*
源码/WeChatHelper/WeChatHelper/Debug/*
源码/WeChatHelper/WeChatHelper/x64/Debug/*
源码/WeChatHelper/WeChatHelper/WeChatHelper.vcxproj.filter
源码/Release/*.ilk
源码/Release/*.pdb
源码/Release/*.txt
源码/WeChatHelper/WeChatHelper/Release/*
源码/WeChatRobot/WeChatRobot/Release/*
源码/third_party/jsoncpp-0.10.6/.vs/*
源码/third_party/jsoncpp-0.10.6/Release/*
!源码/third_party/jsoncpp-0.10.6/Release/jsoncpp_lib_static.lib
源码/third_party/protobuf-2.6.1/vsprojects/Release/*.obj
!源码/third_party/protobuf-2.6.1/vsprojects/Release/libprotobuf.lib
源码/Debug/crashRptData/*
源码/Release/crashRptData/*
源码/third_party/CrashRpt/processing/*
源码/third_party/CrashRpt/tests/*
源码/third_party/CrashRpt/thirdparty/jpeg/*
源码/third_party/CrashRpt/thirdparty/libogg/*
源码/third_party/CrashRpt/thirdparty/libpng/*
源码/third_party/CrashRpt/thirdparty/libtheora/*
源码/third_party/CrashRpt/thirdparty/minizip/*
源码/third_party/CrashRpt/thirdparty/tinyxml/*
源码/third_party/CrashRpt/thirdparty/zlib/*
源码/third_party/hiredis-master/build/*
源码/third_party/rocketmq-client-cpp/*
源码/third_party/http/.vs/*
源码/third_party/http/bin/*
源码/third_party/http/httpclient/Debug/*
源码/third_party/http/httpclient/Release/*
源码/Debug/*
源码/Release/*










源码/.vs/
源码/x64/
源码/WeChatRobot/ipch/
源码/WeChatRobot/WeChatRobot.sdf
源码/WeChatHelper/WeChatHelper.v12.suo
源码/WeChatHelper/WeChatHelper.sdf
源码/WeChatRobot/WeChatRobot.v12.suo
源码/WeChatRobot/WeChatRobot/crashRptData/
源码/WeChatRobot/WeChatRobot/logs/
src/.vs/
src/Debug/crashRptData/
src/Debug/helplogs/
src/Debug/logs/
src/Release/helplogs/
src/Release/logs/
src/third_party/CrashRpt/.vs/
src/WeChatRobot/WeChatRobot/Release/
src/WeChatRobot/WeChatRobot/Debug/
src/WeChatRobot/WeChatRobot/crashRptData/
src/WeChatRobot/WeChatRobot/logs/
src/WeChatHelper/WeChatHelper.v12.suo
*.pdb
src/WeChatHelper/WeChatHelper/Debug/
src/WeChatHelper/WeChatHelper/Release/
src/Debug/data/
src/Debug/image/
src/Debug/memory_leak_report.txt
src/Debug/WeChatHelper.ilk
Release/WeChatRobot.lib
*.exp
*.ilk
src/Debug/WeChatRobot.lib
src/Network/Debug/
